<div class="jumbotron ml-4">
    <h1 class="display-4" >Notes app</h1>
    <p class="lead" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat aut delectus magnam fugit molestias! Earum?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi placeat quaerat tempore perferendis deleniti at nemo esse autem ipsum eum id voluptas veniam consequuntur praesentium cum, ullam, optio iusto.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>